@media all and (max-width: 1860px) {
    .carousel{
        width: 1410px;
    }
    .title_1, .title_2{
        padding-left: 50px;
    }
}

@media all and (max-width: 1465px) {
    .container{
        width: 940px;
    }
    .container-other{
        width: 940px;
        margin: 0 auto;
    }
    .carousel{
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .title_1, .title_2{
        padding-left: 25px;
    }
    .carousel-item{
        height: 320px;
    }
    .carousel-item:first-child{
        background-image: url("../img/slide1_940.jpg");
        background-size: contain;
    }
    .carousel-item h2{
        font-size: 14px;
        margin-bottom: 12px;
    }
    .title_1 > h1{
        font-size: 26px;
        margin-bottom: 12px;
    }
    .header__top--right,
    .header__menu > .container > div:first-child,
    .header__menu .vline
    {
        display: none;
    }
    .main__menu{
        position: absolute;
        top: 93px;
        right: -100%;
        background: #1a1a24;
        z-index: 9;
        padding: 20px;
        width: 100%;
        transition: .5s;
    }
    .header__menu ul li{
        float: none;
        margin-bottom: 20px;
    }
    .header__top{
        float: left;
        width: 685px;
        border-bottom: none;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 18px;
        margin-top: 24px;
        border-top: none;
        border-left: none;
    }
    .header__top .container{
        width: 100%;
    }
    .header__top--left img{
        width: 200px;
    }
    .tile__big, .tile__small{
        width: 220px;
    }
    .tile__small, .tile__big{
        margin-right: 20px;
    }
    .tiles__top--wrap{
        width: 460px;
    }
    .tile{
        width: 220px;
        height: 190px;
        margin-right: 20px;
    }
    h3{
        margin-top: 80px;
    }
    .tile__bigger{
        width: 460px;
        height: 190px;
        background-size: cover;
        border-radius: 7px;
        margin-right: 20px;
    }
    .stock ul li{
        width: 49%;
        margin-right: 0;
        margin-bottom: 20px;
        background-position-x: center;
    }
    .stock ul li:nth-child(even){
        float: right;
    }
    .list-wrap ul{
        margin-right: 20px;
    }
    .list-wrap{
        float: none;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(133, 143, 164, 0.15);;
    }
    .subscribe{
        float: left;
    }
}

@media all and (max-width: 970px) {
    .container,
    .container-other{
        width: 300px;
    }
    .header__top--left ul{
        display: none;
    }
    .header__top--left img{
        width: 167px;
        margin-top: 9px;
    }
    .header__top{
        width: 210px;
        padding-bottom: 14px;
    }
    .header__top--search{
        margin-right: 10px;
        margin-left: 10px;
    }
    .menu__icons li:nth-child(1),
    .menu__icons li:nth-child(2){
        display: none;
    }
    .menu__icons li{
        margin-right: 15px;
    }
    .tile__big{
        width: 100%;
        height: 140px;
        margin-bottom: 10px;
    }
    .tile__small, .tile{
        width: 145px;
        height: 140px;
        margin-right: 10px;
        padding-top: 18px;
        padding-left: 11px;
        background-size: 145px 140px;
        margin-bottom: 10px;
    }
    .tile__small h5, .tile h5{
        font-size: 13px;
    }
    .tiles__top--wrap,
    .tile__bigger{
        width: auto;
    }
    #carouselExampleControls .carousel-item{
        width: 100%;
        height: 460px;
        background: url('../img/slide1_300.jpg') center no-repeat;
    }
    .carousel-item{
        padding-top: 29px;
    }
    .carousel{
        padding-left: 0;
        padding-right: 0;
    }
    .tile__big, .tile__small, .tile {
        padding-top: 13px;
        padding-left: 20px;
        
    }
    .tile__big h5{
        font-size: 13px;
    }
    .tiles__bottom{
        margin-top: 10px;
    }
    .tile:nth-child(even){
        margin-right: 0;
    }
    .tile__bigger{
        width: 100%;
        height: 140px;
        margin-bottom: 10px;
        padding-top: 19px;
        padding-left: 22px;
    }
    .tile__bigger h5{
        font-size: 13px;
    }
    .stock ul li{
        width: 100%;
    }
    .list-wrap ul li a{
        font-size: 14px;
    }
    .list-wrap ul li:first-child{
        margin-bottom: 16px;
    }
    .list-wrap ul li:first-child a{
        font-size: 16px;
    }
    .list-wrap ul{
        width: 50%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .list-wrap ul li{
        margin-bottom: 8px;
    }
}