*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background: #F7F7F7;
}
.container{
    width: 1410px;
    max-width: 1410px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}

a{
    color: inherit;
    text-decoration: none;
}
ul{
    margin-bottom: 0;
    padding-left: 0;
}
li{
    list-style-type: none;
}
.btn{
    padding: 12px 20px 13px;
    height: 42px;
    border: 1px solid #F53B49;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F53B49;
}
.white_btn{
    border: 1px solid #FFF;
    color: #FFF;
}
.btn:hover{
    border: 1px solid #000;
}

.vline{
    width: 1px;
    height: 30px;
    background: rgba(133, 143, 164, 0.15);
    border-radius: 1px;
}

.clearfix:after{
    content: '';
    display: block;
    clear: both;
}

h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    color: #1A1A25;
    margin-bottom: 30px;
    margin-top: 120px;
}

/* header */
.header{
    background: #1A1A25;
}

/* header__top */
.header__top{
    padding-top: 24px;
    padding-bottom: 20px;
    color: aliceblue;
    border: 1px solid rgba(133, 143, 164, 0.15);
}
.header__top--left,
.header__top--left img,
.header__top--left ul
{
    float: left;
}
.header__top--left ul{
    margin-left: 50px;  
    font-size: 14px;
    line-height: 140%;  
    color: #858FA4;
    margin-top: 3px;
}
.header__top--right{
    float: right;
}
.header__top--right > *{
    float: left;
    margin-right: 30px;
}
.header__top--right p:first-child{
    font-size: 14px;
    line-height: 140%;
    color: #909CB5;
    margin-top: 6px;
}
.header__top--right button:nth-child(2){
    width: 142px;
    height: 37px;
    background: #384255;
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px; 
    color: #F7F7F7;
    border: none;
    margin-top: -2px;
}
.phone{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-top: 7px;
}
.phone span{
    font-size: 14px;
    line-height: 17px;
    color: #909CB5;
}
.request__call{
    font-size: 14px;
    line-height: 140%;
    color: #F53B49;
    margin-top: 5px;
}
.header__top--right > div:not(.vline){
    margin-top: 5px;
}
.header__top--right > div > button{
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    margin-right: 14px;
    background: transparent;
    border: none;
    vertical-align: super;
}
.header__top--search{
    width: 20px;
    height: 20px;
    background: url("../img/search.svg") center no-repeat;
    background-size: contain;
    /* display: none; */
    float: right;
    margin-right: 30px;
    margin-top: 7px;
}

/* header__menu */
.header__menu{
    color: #FFFFFF;
    padding-top: 16px;
    padding-bottom: 16px;
}
.header__menu > .container > div:first-child,
.header__menu .vline,
.main__menu,
.header__menu ul li
{
    float: left;
}
.menu__icons{
    float: right;
    margin-top: 11px;
}
.main__menu li{
    margin-right: 36px;
    font-size: 14px;
    line-height: 140%;
}
.header__menu button{
    width: 127px;
    height: 49px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: inherit;
    border: none;
    background: url(../img/menu.svg) 24px center no-repeat #F53B49;
    padding-left: 32px;
    margin-right: 51px;
}
.header__menu img[src$="search.svg"]{
    vertical-align: middle;
}
.vline__other{
    height: 40px;
    margin-left: 30px;
    margin-right: 48px;
}
.main__menu{
    margin-top: 15px;
}
.menu__icons li{
    width: 24px;
    height: 26px;
    margin-right: 50px;
    opacity: 0.7;
}
.menu__icons li:first-child{
    background: url("../img/compare.svg") no-repeat center;
}
.menu__icons li:nth-child(2){
    background: url("../img/like.svg") no-repeat center;
}
.menu__icons li:nth-child(3){
    background: url("../img/basket.svg") no-repeat center;
}
.menu__icons li:last-child{
    background: url("../img/burger.svg") no-repeat center;
    margin-right: 0;
}
/* header__bottom */
.header__bottom{
    background: #2A2C38;
}
.header__bottom .container ul > li{
    float: left;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-top: 13px;
    padding-bottom: 14px;
}
li.vline{
    margin:7px 19px;
}

/* carousel-wrap */
.carousel-wrap{
    margin-top: 41px;
}
.carousel{
    width: 1800px;
    margin-left: auto;
    margin-right: auto;
}
.carousel-item{
    padding-top: 81px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
}
.carousel-item:first-child{
    background-image: url("../img/slide1.jpg");
}
.carousel-item:last-child{
    background-image: url("../img/slide2.jpg");
}
.carousel-item h2{
    font-weight: 900;
    font-size: 24px;
    line-height: 110%;
    text-transform: uppercase;
    color: #F53B49;
    margin-bottom: 24px;
}
.title_1 > h1{
    font-weight: 900;
    font-size: 49.5455px;
    line-height: 110%;
    text-transform: uppercase;
    color: #1A1A25;
    margin-bottom: 24px;
}
.title_1 > h1 span{
    font-weight: 400;
}

.title_2 h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 49.5455px;
    line-height: 110%;
    text-transform: uppercase;
    color: #F7F7F7;
    margin-bottom: 24px;
}
.title_2 h1 span:first-child{
    font-weight: 400;
}
.title_2 h1 span:last-child{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 89.1818px;
    line-height: 110%;
    text-transform: uppercase;
    color: #1A1A25;
}
/* home__catalog */

.tile__big{
    width: 330px;
    height: 430px;
    border-radius: 5px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    background: url("../img/tile1.jpg") no-repeat center;
}

.tiles__top--wrap{
    width: 690px;
    float: left;
}
.tile__small{
    margin-right: 30px;
    margin-bottom: 30px;
    float: left;
    border-radius: 5px;
    width: 330px;
    height: 200px;
    background: url("../img/tile2.jpg") no-repeat center;
}
.tile__small:nth-child(even){
    margin-right: 0;
}
.tile__small:nth-child(3),
.tile__small:nth-child(4){
    margin-bottom: 0;
}
.tiles__wrap h5{
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    color: #1A1A25;
}
.tile__big, 
.tile__small, 
.tile{
    padding-top: 36px;
    padding-left: 30px;
}
.tile__big h5{
    color: #fff;
}

.tile{
    width: 330px;
    height: 280px;
    float: left;
    border-radius: 5px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: url("../img/tile3.jpg") no-repeat center;
}
.tile:last-child{
    margin-right: 0;
}
/* club__catalog */
.club__catalog{
    border-bottom: 1px solid rgba(133, 143, 164, 0.2);
    padding-bottom: 30px;
}

.tile__bigger{
    width: 690px;
    height: 280px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-top: 36px;
    padding-left: 30px;
    background: url("../img/tile4.jpg") no-repeat center;
}
.tile__bigger h5{
    color: #fff;
}

/* stock */
.stock{
    padding-top: 120px;
    padding-bottom: 100px;
}
.stock h3{
    margin-top: 0;
    margin-right: 30px;
}
.stock h3, .stock h4{
    float: left;
}
.stock h4{
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    color: #828282;
    margin-bottom: 0;
    margin-right: 30px;
    margin-top: 6px;
}
.stock ul{
    margin-top: 30px;
}

.stock ul li{
    width: 300px;
    height: 505px;
    padding: 10px 20px 26px;
    background: top 4px left 12px no-repeat #fff;
}
.stock ul li.img1{
    background-image: url(../img/stock-img.png);
}
.stock ul li.img2{
    background-image: url(../img/stock-img1.png);
}
.stock ul li.img3{
    background-image: url(../img/stock-img2.png);
}
.stock ul li.img4{
    background-image: url(../img/stock-img3.png);
}
.stock__card--left{
    float: left;
}
.stock__card--left img{
    margin-left: -15px;
    transition: 0.5s;
}
.stock__card--left img:first-child{
    margin-left: 0;
}
.stock__card--right{
    float: right;
}
.stock__card--right svg{
    margin-left: 8px;
}
.stock .clearfix + div{
    margin-top: 270px;
}
.availability{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #2FC509;
}
.availability > span:not(.other){
    width: 8px;
    height: 8px;
    background: #2FC509;
    display: inline-block;
    border-radius: 50px;

}
.availability > span:not(.other):first-child{
    margin-left: 6px;
}
span.other{
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #4B7EE8;
    margin-left: 8px;
}
.stock .title{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #1A1A25;
    margin-bottom: 8px;
}
.stock .rating{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #909CB5;
    margin-bottom: 16px;
}
.stock ul li{
    float: left;
    margin-right: 30px;
    border-radius: 6px;
    transition: 0.5s;
    margin-bottom: 20px;
}
.stock ul li:hover{
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0px 4px 30px rgba(19, 15, 38, 0.1));
}
.stock ul li:hover .stock__card--left img{
    margin-left: 10px;
}
.stock ul li:hover .stock__card--left img:first-child{
    margin-left: 0;
}

.stock .rating span:first-child{
    margin-left: 6px;
}
.stock .rating span{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("../img/star.svg") no-repeat center;
}

.price div{
    float: left;
}
.price div p{
    margin-bottom: 0;
}
.current__price{
    font-weight: 700;
    font-size: 17px;
    line-height: 135.94%;
    color: #1A1A25;
}
.old__price{
    font-weight: 400;
    font-size: 16px;
    line-height: 135.94%;
    text-decoration-line: line-through;
    color: #858FA4;
}
.price button{
    float: right;
    width: 121px;
    height: 49px;
    background: #F53B49;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    padding-left: 25px;
    position: relative;
}
.price button:before{
    content: "";
    width: 21px;
    height: 26px;
    position: absolute;
    left: 17px;
    top: 10px;
    background: url('../img/basket.svg') center no-repeat;
}

/* footer */
.footer{
    background-color:#1A1A25;
    padding-top: 88px;
    padding-bottom: 28px;
    color: #858FA4;
}
.list-wrap{
    float: left;
}
.list-wrap ul{
    width: 210px;
    float: left;
    margin-right: 40px;
}

.list-wrap ul li:first-child{
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.list-wrap ul li{
    margin-bottom: 12px;
}
.list-wrap ul li a:hover{
    color: #fff;
}
.subscribe{
    float: right;
    width: 260px;
}
.subscribe input{
    width: 100%;
    height: 48px;
    background: rgba(133, 143, 164, 0.15);
    border-radius: 5px;
    font-size: 14px;
    line-height: 140%;
    color: #858FA4;
    border: none;
    padding: 14px;
    margin-bottom: 50px;
    background: url("../img/subscribe.svg") right 20px center no-repeat rgba(133, 143, 164, 0.15);
}
.subscribe a:first-of-type,
.subscribe a:nth-of-type(2)
{
    font-weight: 500;
    line-height: 140%;
    color: #858FA4;
    margin-bottom: 8px;
    display: inline-block;
}
.subscribe a:nth-of-type(3),
.subscribe a:nth-of-type(5){
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 23px;
    display: inline-block;
}
.subscribe a:nth-of-type(5){
    margin-bottom: 40px;
}
.subscribe a:nth-of-type(4){
    line-height: 19px;
    color: #858FA4;
}
.subscribe a:nth-of-type(6),
.subscribe a:last-child{
    font-size: 14px;
    line-height: 140%;
    color: #4B7EE8;
    margin-bottom: 7px;
    display: inline-block;
}